* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
}

.form-card {
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    min-height: 100vh;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

h2 {text-align: center;}

.card-form {
    background-color: white;
    padding: 2rem;
    margin: 2rem 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 400px;
    border-radius: 1rem;
    grid-column: 1 / 2;
    display: grid;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    padding-left: 40px;
    margin: 8px 0;
    border: 3px solid #F5F5F5;
    background-color: #F5F5F5;
    transition: all .5s ease-in-out;
    outline: none;
    font-size: .9rem;
    border-radius: .5rem;
} 

.input-user, .input-password {position: relative;}

.fa-user, .fa-lock {
    position: absolute;
    top: 45px;
    left: 16px;
    color: #ccc;
}


input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #16a085;
}

input[type="button"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 2rem;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-size: .9rem;
    border-radius: .5rem;
}

input[type="button"]:hover {
    border: 3px solid #16a085;
    background-color: #16a085;
    color: white;
}

.secondary-links a {
    color: #0984e3;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.secondary-links a:hover {
    text-decoration: underline;
}

.more-info {color: white;}

.card-video {grid-column: 2 / 3;}

.card-video iframe {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .form-card {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .5fr;
        
    }

    .card-form {grid-row: 1 / 2; grid-column: 2 / 3;}

    .card-video {grid-row: 2 / 3; grid-column: 2 / 3;}
}

@media screen and (max-width: 480px) {
    .form-card {
        background-image: none;
    }
    .card-video h2 {color: black;}
}

@media screen and (max-width: 437px) {
    .card-video {display: none;}
    .card-form {width: 320px;}
}